* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */

.mx-auto {
    margin: 0 auto;
}

:root {
    --lightSilver:#334756;
    --darkSilver:#2C394B;
    --dark:#082032;
    --orange:#FF4C29;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--orange);
    overflow-x: hidden;
}

/* navigation */

nav {
    display: flex;
    background-color: var(--dark);
    color: var(--orange);
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin-right: 55px;
    text-decoration: none;
    color: var(--orange);
}

@media (max-width: 576px) { 
    nav ul li a {
        margin-right: 10px;
    }
}

@media (max-width: 595px) { 
    nav ul li a {
        margin-right: 25px;
    }
}

@media (max-width: 476px) { 
    nav ul li a {
        margin-right: 5px;
    }
}

@media (max-width: 400px) {
    nav {
        flex-direction: column;
        padding: 2rem;
        
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-top: 1rem;
    }
}
/* footer */

footer {
    background-color: var(--dark);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h1 {
    text-align: center;
}

footer #social-networks {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer #social-networks li {
    margin-right: 15px;
}

footer #footer-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

footer #footer-menu li {
    margin-right: 15px;
}

footer #footer-menu li a {
    text-decoration: none;
    color: var(--orange);
}

footer p {
    text-align: center;
    margin-top: 20px;
}

footer #footer-menu ul li {
    margin-top: 20px;
}








.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
  }


/* Form */

#kontakt {
    width: 1000px;
    margin: 2rem auto;
    height: 80vh;
    padding: 2rem;
}

@media (max-width: 1000px) {
    #kontakt{
        width: 100%;
    }
}

#kontakt h1 {
    margin-bottom: 1rem;
}

#kontakt form {
    display: flex;
    flex-direction: column;
}

#kontakt form input {
    margin-bottom: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border: 1px var(--darkSilver) solid;
    border-radius: 5px;
    color: var(--darkSilver);
}

#kontakt form textarea {
    margin-bottom: 2rem;
    padding: 1rem;
}

#kontakt form button {
    border: none;
    padding: 1rem 2rem;
    color: white;
    background-color: var(--orange);
}
