* {
    margin: 0;
    padding: 0;
}

/* utility classes */

.mx-auto {
    margin: 0 auto;
}

:root {
    --lightSilver:#334756;
    --darkSilver:#2C394B;
    --dark:#082032;
    --orange:#FF4C29;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--orange);
}

/* navigation */

nav {
    display: flex;
    height: 100px;
    background-color: var(--dark);
    color: var(--orange);
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin-right: 55px;
    text-decoration: none;
    color: var(--orange);
}

@media (max-width: 576px) { 
    nav ul li a {
        margin-right: 10px;
    }
}

@media (max-width: 595px) { 
    nav ul li a {
        margin-right: 25px;
    }
}

@media (max-width: 476px) { 
    nav ul li a {
        margin-right: 5px;
    }
}
/* footer */

footer {
    background-color: var(--dark);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h1 {
    text-align: center;
}

footer #social-networks {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer #social-networks li {
    margin-right: 15px;
}

footer #footer-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

footer #footer-menu li {
    margin-right: 15px;
}

footer #footer-menu li a {
    text-decoration: none;
    color: var(--orange);
}

footer p {
    text-align: center;
    margin-top: 20px;
}

footer #footer-menu ul li {
    margin-top: 20px;
}
